In [243]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import functions_sandbox as sand

In [244]:
path = r"D:\IT_projects\Turing_Colledge\Modul3\Sprint1\project\travel_insurance.csv"

travelin = pd.read_csv(path)

In [245]:
travelin.head(3)

,Unnamed: 0,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,0,31,Government Sector,Yes,400000,6,1,No,No,0
1,1,31,Private Sector/Self Employed,Yes,1250000,7,0,No,No,0
2,2,34,Private Sector/Self Employed,Yes,500000,4,1,No,No,1

In [246]:
travelin = travelin.drop(columns=travelin.columns[0])

In [248]:
travelin = sand.cleaner(travelin)
travelin = travelin.rename(columns={"employment type":"employment_type"})

All columns empty spaces have been stripped.
All columns names have been converted to lowercase.

Is there any duplicates?: True
Is there any NaN numbers?: False
Is there any empty cells?: False

In [249]:
travelin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1987 non-null   int64
 1   employment_type      1987 non-null   object
 2   graduateornot        1987 non-null   object
 3   annualincome         1987 non-null   int64
 4   familymembers        1987 non-null   int64
 5   chronicdiseases      1987 non-null   int64
 6   frequentflyer        1987 non-null   object
 7   evertravelledabroad  1987 non-null   object
 8   travelinsurance      1987 non-null   int64
dtypes: int64(5), object(4)
memory usage: 139.8+ KB

- Employment type: could be changed to 0 and 1 (private=0, gov=1)  
- Graduate or Not: could be changed to 0 and 1 (no=0, yes=1) 
- Frequent flier: could be changed to 0 and 1 (no=0, yes=1)  
- Ever travelled abroad: could be changed to 0 and 1 (no=0, yes=1)

In [250]:
columns = len(travelin.columns)

for col in range(columns):
    print(f"{travelin.columns[col]}: {travelin.iloc[:,col].unique()}")

age: [31 34 28 25 33 26 32 29 35 30 27]
employment_type: ['Government Sector' 'Private Sector/Self Employed']
graduateornot: ['Yes' 'No']
annualincome: [ 400000 1250000  500000  700000 1150000 1300000 1350000 1450000  800000
 1400000  850000 1500000 1050000  350000 1100000  600000  900000  550000
  300000  750000 1200000 1000000  950000 1700000 1750000  650000  450000
 1650000 1800000 1550000]
familymembers: [6 7 4 3 8 9 5 2]
chronicdiseases: [1 0]
frequentflyer: ['No' 'Yes']
evertravelledabroad: ['No' 'Yes']
travelinsurance: [0 1]

In [253]:
travelin = travelin.copy()
travelin["graduateornot"] = travelin["graduateornot"].apply(
    lambda x: 0 if x == "No" else 1
)
travelin["frequentflyer"] = travelin["frequentflyer"].apply(
    lambda x: 0 if x == "No" else 1
)
travelin["evertravelledabroad"] = travelin["evertravelledabroad"].apply(
    lambda x: 0 if x == "No" else 1
)
travelin["employment_type"] = travelin["employment_type"].apply(
    lambda x: 0 if x == "Private Sector/Self Employed" else 1
)

employment_type
0    1417
1     570
Name: count, dtype: int64